<div class="row row-head">
    <div class="panel panel-default panel-default-head">
        <div class="panel-heading">
            <h3 class="panel-title text-left">
                订单信息查询
            </h3>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="row">
                    <div class="form-group col-lg-3">
                        <input class="form-control" placeholder="收件人姓名">
                    </div>
                    <div class="form-group col-lg-3">
                        <input class="form-control" placeholder="联系号码">
                    </div>
                    <div class="form-group col-lg-3">
                        <input class="form-control" placeholder="穿着者">
                    </div>
                    <div class="form-group col-lg-3">
                        <input class="form-control" placeholder="详细地址">
                    </div>

                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="form-group col-lg-3">
                        <input class="form-control" placeholder="供应商">
                    </div>
                    <div class="form-group col-lg-3">
                        <input class="form-control" placeholder="生产订单号">
                    </div>
                    <div class="form-group col-lg-3">
                        <label class="control-label">下单日期:</label>
                        <select class="form-control">
                            <option>1212313</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3">
                        <button class="btn btn-primary"><i class="fa fa-search"></i>查询</button>
                        <button class="btn btn-danger">清除条件</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="form-group col-lg-3">
                        <input class="form-control" placeholder="订单处理起始日期">
                    </div>
                    <div class="form-group col-lg-3">
                        <input class="form-control" placeholder="订单处理终止日期">
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top: -15px">
        <div class="page-header text-left content-left">
            订购数量:<span style="color: red">100</span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">生产订单号:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">产品类型:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">款式编号:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">身高</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">快递公司</label>
                        <input class="form-control">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">生产订单号:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">产品类型:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">款式编号:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">身高</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">快递公司</label>
                        <input class="form-control">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">生产订单号:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">产品类型:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">款式编号:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">身高</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">快递公司</label>
                        <input class="form-control">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">生产订单号:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">产品类型:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">款式编号:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">身高</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">快递公司</label>
                        <input class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default" style="margin-top: -15px">
        <div class="page-header  content-center">
            厂商维护信息
        </div>
        <div class="panel-body">

        </div>
    </div>
    <div class="panel panel-default" style="margin-top: -15px">
        <div class="page-header  content-center">
            尺寸信息
        </div>
        <div class="panel-body">
            <table class="table table-bordered">

                <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>邮编</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default" style="margin-top: -15px">
        <div class="page-header  content-center" >
            产品信息表
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>邮编</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>