::-webkit-scrollbar {
    width:6px;
    height:6px;
}
::-webkit-scrollbar-track{
    background:transparent;
}
::-webkit-scrollbar-thumb{
    /*background:#d2eafb;*/
    background: linear-gradient(to right, rgba(180, 180, 168, 0.86), rgba(180, 180, 168, 0.86), rgba(180, 180, 168, 0.86));
    border-radius:4px;
}
::-webkit-scrollbar:hover{
    width:10px;
    height:6px;
}
@font-face {
    font-family: myFirstFont;
    src: url("../css/fonts/hzgbyszt.ttf");
}
@font-face {
    font-family: mySecondFont;
    src: url("../css/fonts/FZSTK.TTF");
}
body{
    font-family: mySecondFont;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
    border: 1px solid #EEB4C3;
}
.navbar{
    border-radius: 0px;
    font-family: myFirstFont;
}
.container-fluid{
    margin-top: -1px;
}
.navbar-header{
    border: 1px solid #3F030D;
    overflow: hidden;
    width: 150px;
    padding-left: 10px;

}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 20px;
}
.container-fluid{
    background-image: url("../../images/bg_20181011100929.jpg") ;
    background-repeat: repeat;
}
.sections li{
    background-color: white;
    margin-left: 1px;
    width: 100px;
}
.sections li a{
    color: #EEB4C3 !important;
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}
.navbar-default .navbar-nav > .active > a{
    background-color: #EEB4C3!important;
    color: white !important;
    border-bottom: 1px solid white;
}

img{ width: 100%; height: auto;max-width: 100%; display: block; }
#section-home {
    margin-top: 50px;
    background-image: url("../../images/bg_20181011100929.jpg");
    background-repeat: repeat;
    padding: 60px 30px;
}
.hom-text{
    padding: 30px 30px;
	border:2px solid #3F030D;
    height: 500px;
}
.hom-text span{
     text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: myFirstFont;
    line-height: 50px;
}
#section-gallery{
    background-image: url("../../images/bgw_20181011100929.jpg");
    background-repeat: repeat;
    padding: 100px 70px;
}
#section-contact{
    background-image: url("../../images/bg_20181011100929.jpg");
    background-repeat: repeat;
    padding: 30px 30px;
}
.banner-text{
    font-size: 18px;
    font-weight: bold;
    color: #EEB4C3;
    text-align: center;
    line-height: 35px;
    border: 2px solid #3F030D;
    padding: 54px 20px;
	height:392px;

}
.carousel-inner .item div img{
	width: 100%;
    height: 392px;
}
.carousel-indicators{
    left: 60%;
    bottom: 10px;
}
.sub-btn{
    background-color: #222222;
    color: white;
    margin-left: 15px;
}

.products {
    width:560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
}
.products li {
    width:100px;
    height:130px;
    float:left;
    margin-left:50px;
    display:inline;
}
.products li a {
    display:block;
    color: #222222;
}
.products li a img {
    padding:1px;
    width: 50px;
    height: 50px;
}
.products li span a {
    width:220px;
    height:30px;
    line-height:24px;
    text-align:center;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    margin-left: -85px;
    font-weight: bold;
}
.back-to-top{
    position: fixed;
    right: 60px;
    bottom: 60px;
    text-align: center;
    color: #4e555b;
    padding: 5px;
    width: 60px;
    cursor: pointer;
    height: 50px;
    display:none;
}
.back-to-top:hover{
    color: white;
}
.back-to-top span{
    font-size: 12px;
    line-height: 5px;
}
.back-to-top img{
    width: 60px;height: 50px
}

.sub-slt{
    width: 300px;
    position: fixed;
    top: 60px;
    left: 40%;
    display: none;
    font-size: 20px;
}